create /com ' '
create /com/orwellg ' '
create /com/orwellg/yggdrasil ' '

create /com/orwellg/yggdrasil/card ' '
create /com/orwellg/yggdrasil/card/transactions ' '
create /com/orwellg/yggdrasil/card/transactions/dsl ' '
create /com/orwellg/yggdrasil/card/transactions/dsl/scylla ' '

create /com/orwellg/yggdrasil/card/transactions/dsl/scylla/yggdrassil.scylla.node.list          scylla-node1:9042
create /com/orwellg/yggdrasil/card/transactions/dsl/scylla/yggdrassil.scylla.node.host.list     scylla-node1
create /com/orwellg/yggdrasil/card/transactions/dsl/scylla/yggdrassil.scylla.keyspace           cards
