create /com ' '
create /com/orwellg ' '
create /com/orwellg/yggdrasil ' '

create /com/orwellg/yggdrasil/card ' '
create /com/orwellg/yggdrasil/card/transactions ' '
create /com/orwellg/yggdrasil/card/transactions/dsl ' '

create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrassil.scylla.node.list               10.1.145.171:9042,10.1.160.96:9092
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrassil.scylla.node.host.list          10.1.145.171,10.1.160.96
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrassil.scylla.keyspace                customer_product_db

create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrasil.cards.scylla.node.list          10.1.145.171:9042,10.1.160.96:9092
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrasil.cards.scylla.node.host.list     10.1.145.171,10.1.160.96
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrasil.cards.scylla.keyspace           cards
