create /com ' '
create /com/orwellg ' '
create /com/orwellg/yggdrasil ' '

create /com/orwellg/yggdrasil/topologies-defaults ' '
create /com/orwellg/yggdrasil/topologies-defaults/kafka-bootstrap-host      localhost:9092,localhost:10092
create /com/orwellg/yggdrasil/topologies-defaults/kafka-spout-hints         2
create /com/orwellg/yggdrasil/topologies-defaults/event-process-hints       2
create /com/orwellg/yggdrasil/topologies-defaults/action-bolt-hints         5
create /com/orwellg/yggdrasil/topologies-defaults/event-response-hints      5
create /com/orwellg/yggdrasil/topologies-defaults/event-error-hints         2
create /com/orwellg/yggdrasil/topologies-defaults/topology-num-workers      2
create /com/orwellg/yggdrasil/topologies-defaults/topology-max-task-paralelism  2

create /com/orwellg/yggdrasil/card ' '
create /com/orwellg/yggdrasil/card/transactions ' '
create /com/orwellg/yggdrasil/card/transactions/dsl ' '

create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrassil.scylla.node.list               localhost:9042
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrassil.scylla.node.host.list          localhost
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrassil.scylla.keyspace                ipagoo

create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrasil.cards.scylla.node.list          localhost:9042
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrasil.cards.scylla.node.host.list     localhost
create /com/orwellg/yggdrasil/card/transactions/dsl/yggdrasil.cards.scylla.keyspace           cards
