create /com com
create /com/orwellg orwell
create /com/orwellg/yggdrasil yggdrasil

create /com/orwellg/yggdrasil/card card
create /com/orwellg/yggdrasil/card/transactions card-transactions
create /com/orwellg/yggdrasil/card/transactions/dsl card-transactions-dsl
create /com/orwellg/yggdrasil/card/transactions/dsl/scylla card-transactions-dsl-scylla

create /com/orwellg/yggdrasil/card/transactions/dsl/scylla/yggdrassil.scylla.node.list          localhost:9042
create /com/orwellg/yggdrasil/card/transactions/dsl/scylla/yggdrassil.scylla.node.host.list     localhost
create /com/orwellg/yggdrasil/card/transactions/dsl/scylla/yggdrassil.scylla.keyspace           cards