<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>
		<RollingFile name="FILE" filename="yggdrasil-dsl-card-transactions.log" filePattern="yggdrasil-dsl-card-transactions-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 KB"/>
				<!--<TimeBasedTriggeringPolicy interval="1" modulate="true" />-->
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
		<Async name="ASYNC">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="CONSOLE" />
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.kafka" level="INFO">
			<AppenderRef ref="ASYNC" />
		</Logger>
		<Logger name="org.apache.storm" level="INFO">
			<AppenderRef ref="ASYNC" />
		</Logger>
		<Logger name="com.orwellg.umbrella.commons.storm.topology.component.spout.KafkaSpout" level="INFO">
			<AppenderRef ref="ASYNC" />
		</Logger>
		<!--
		<Logger name="com.orwellg.ipagoo.aml" level="DEBUG">
			<AppenderRef ref="CONSOLE" />
		</Logger>
		-->
		<Root level="INFO">
			<AppenderRef ref="ASYNC" />
		</Root>
	</Loggers>
</Configuration>